.App {
    text-align: center;
    width: 100%;
}

.SearchBar {
    width: 100%;
    display: flex;
    background: #333;
    height: 64px;
    justify-content: space-evenly;
    align-items: center;
}

.SearchBar input {
    width: 360px;
    height: 36px;
    font-size: 20px;
    padding: 0 10px;
}

.SearchBar p {
    font-size: 32px;
    color: white;
}

.SearchBar input:focus {
    outline: 0;
}

@media(max-width: 550px){
    .SearchBar{
        padding: 0 5px; 
    }
    .SearchBar input {
        width: 70%;
        max-width: 360px;
    }
    
    .SearchBar p {
        font-size: 32px;
        color: white;
    }
}